div.header-logo {
    display: inline-block;
    font-size: 28px;
    margin: 20px;
    padding: 10px;
    vertical-align: middle;
}

div.header-kensaku {
    display: inline-block;
    margin: 0 80px 0 50px;
    padding: 5px;
    vertical-align: middle;
}
#kensaku {
    margin: auto;
    width: 730px;
    height: 40px;
    border-radius: 10px;
    font-size: large;
}
div.header-cart {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    padding: 5px;
}
div.header-mypage {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    padding: 5px;
}
div.header-favo {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    padding: 5px;
}

body,h1,header {
    margin: 0;
    padding: 0;
}
