        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
        }
        .product-container {
            display: flex;
            border: 1px solid #ccc;
            max-width: 1300px; 
            width: 130%;
            box-sizing: border-box;
            padding: 70px;
            transform: scale(1.5); 
            transform-origin: top left; 
        }
        .left-column {
            flex-basis: 40%; 
            padding-right: -100px;
        }
        .brand-name {
            font-size: 20px;
            font-weight: bold;
        }
        .product-image {
            max-width: 100%;
            height: auto;
        }
        .right-column {
            flex-basis: 60%; 
            padding-left: -100px;
        }
        .product-details {
            font-size: 16px;
            line-height: 1.5;
        }
        .size-inventory {
            list-style: none;
            padding: 0;
        }
        .size-inventory li {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }
        .inventory-status {
            margin-right: 10px;
        }
        .size-button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 5px 10p
        }